.todo-app {
    margin: 2rem auto 0 auto;
    max-width: 460px;
    padding: 0 15px;
}

.top-panel {
    margin: 1rem 0;
    flex-wrap: wrap;
}
.btn-group,
.btn-task {
  display: block;
  height: 100%;
  margin: 0 auto;
}
